* {
  max-width: 100%;
}

.graph {
  display: block;
/*  flex-direction: column;
  align-items: center;
  align-self: center;*/
/*  display: grid;*/
  justify-content: center;
}

.selectors {
/*  position: absolute;
  top: 300px;
  right: 50px;
  width: 800px;
  padding: 10px;*/
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

button {
	width: 100px;
	align-self: center;
}
